$font_size: 16px;
$background-color: #f2f2f2;
$button-color: #385399;
$transition: all 0.3s ease;
$input-focus: #163076;
$box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
$error-color: #ed1b24;
@mixin display-flex {
  display: flex;
  align-items: center;
}
body {
  background-color: $background-color;
  padding: 0;
  margin: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: $font_size;
  text-align: center;
  color: $input-focus;
  margin: 60px;
  letter-spacing: 1px;
}
.title {
  margin: 30px;
  font-size: 30px;
  text-shadow: 5px 2px 3px rgb(255 255 255 / 30%);
}
h3 {
  border-bottom: 1px solid;
  padding: 0 20px;
}
.group {
  @include display-flex();
  margin: 30px 0;
  background-color: #f8f6f6;
  border-radius: 16px;
  box-shadow: $box-shadow;
  padding: 30px;
  opacity: 0.9;
  height: fit-content;
  flex-direction: column;
  &.group-right {
    width: 100%;
  }
}
.section-wrap {
  @include display-flex();
  width: 80%;
  margin: 8px 0 25px 0;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #c7c7c7;
  background-color: #fff;
}
.checkbox-label {
  @include display-flex();
  justify-content: center;
}
.input-group {
  @include display-flex();
  width: 100%;
  flex-direction: column;
  position: relative;
}
.invalid {
  border: 1px solid $error-color;
}
.error-message {
  color: $error-color;
  font-size: 14px;
  position: absolute;
  top: 60%;
}
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  input,
  select {
    color: $input-focus;
    font-size: $font_size;
    letter-spacing: 1px;
    box-sizing: border-box;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #c7c7c7;
    width: 80%;
    margin: 10px 0 25px 0;
    padding: 0 20px;
    transition: $transition;
    &:focus {
      box-shadow: $box-shadow;
      outline: 2px solid $input-focus;
    }
    &[type="checkbox"],
    &[type="radio"] {
      outline: none;
      width: 20px;
      accent-color: $input-focus;
      margin: 0 8px;
      box-shadow: none;
    }
  }
  label,
  span {
    display: flex;
    width: 80%;
  }
  select {
    cursor: pointer;
  }
  button {
    font-size: $font_size;
    letter-spacing: 1px;
    width: 80%;
    height: 35px;
    background-color: $button-color;
    border-radius: 10px;
    border: none;
    color: $background-color;
    margin-top: 10px;
    cursor: pointer;
    transition: $transition;
    &:hover {
      background-color: $input-focus;
      box-shadow: $box-shadow;
      transform: scale(1.03);
    }
    &:active {
      transform: scale(1);
    }
  }
}
@media screen and (max-width: 1000px){
  .section-wrap {
    flex-direction: column;
    justify-content: center;
  }
  .checkbox-label {
    width: 100%;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 800px){
  form {
    grid-template-columns: auto;
  }
  .group  {
    margin: 0;
  }
  .title {
    font-size: 25px;
  }
}


